<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="test1" parallel="tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="gun05t.RunnerGun05"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="test2">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="gun05t.RunnerGun05"/>
        </classes>
    </test>
</suite>